:root{

  --color-white: #fff;
  --color-black: #000;

  --color-link: #202C4A;
  --color-link-visited: #8B8B97;
  --color-link-hover: #E53847;
  /*--color-link-active:;*/
  /*--color-link-focus:;*/

  --color-primary:#fff;
  --color-secondary: #F0F0F0;
  --color-tertiary:#202C4A;

  --color-degrade: linear-gradient(180deg, #62BDFC 0%, #8490FF 100%);
}